[mysqld]
log_queries_not_using_indexes=1
long_query_time=0.1
slow_query_log=1
slow_query_log_file=db-slow.log
gtid-mode=on
enforce-gtid-consistency=true
basedir=/var/lib/mysql
datadir=/var/lib/mysql/data
port=3306
socket=/tmp/mysql.sock
character-set-server=utf8mb4
log-error=/var/lib/mysql/data/mysqld.log
innodb_data_file_path=ibdata1:12M;ibdata2:128M;ibdata3:128M:autoextend
log_bin=mysql-bin
server-id=1
